useDynLib(rr)

S3method(as.list,rrreg.bayes)
S3method(coef,rrreg)
S3method(coef,rrreg.bayes)
S3method(coef,rrreg.bayes.list)
S3method(coef,rrreg.predictor)
S3method(print,rrreg)
S3method(print,rrreg.bayes)
S3method(print,rrreg.predictor)
S3method(print,summary.rrreg)
S3method(print,summary.rrreg.bayes)
S3method(print,summary.rrreg.bayes.list)
S3method(print,summary.rrreg.predictor)
S3method(summary,rrreg)
S3method(summary,rrreg.bayes)
S3method(summary,rrreg.bayes.list)
S3method(summary,rrreg.predictor)
S3method(vcov,rrreg)
S3method(vcov,rrreg.bayes)
S3method(vcov,rrreg.bayes.list)
S3method(vcov,rrreg.predictor)
export(power.rr.plot)
export(power.rr.test)
export(rrreg)
export(rrreg.bayes)
export(rrreg.predictor)
importFrom(coda,as.mcmc)
importFrom(coda,as.mcmc.list)
importFrom(coda,gelman.diag)

importFrom("MASS", "mvrnorm")

importFrom("grDevices", "gray")
importFrom("graphics", "abline", "axis", "lines", "mtext", "plot")
importFrom("stats", "as.formula", "binomial", "coef", "complete.cases",
           "cov", "dcauchy", "df", "glm", "glm.control", "model.frame",
           "model.matrix", "model.matrix.default", "model.response",
           "na.omit", "pchisq", "pnorm", "qnorm", "quantile", "rnorm",
           "runif", "sd", "vcov")
